.searchBar{
    border-radius: 40px;
    width: 160%;
}
.nav-link{
    color: #000;
}
.list{
    box-shadow: 0 8px 8px -4px rgb(209, 202, 202);
}  
.scroll{
    height: 400px;

    overflow :scroll
}
.b{
    align-items: center;
    padding-left: 275px;
}

.footer{
    background-color: #000;
    color: #fff;
}
.english{
    position: relative;
   right: 0;
}
.course{
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 70px;
}
.image{
    border-radius: 50%;
    height: 60px;
    width: 6 0px;
}
.c{
    margin-bottom: 270px;
}   