.searchBar{
    border-radius: 40px;
    width: 160%;
}
.nav-link{
    color: #000;
}
.list{
    box-shadow: 0 8px 8px -4px rgb(209, 202, 202);
}   

.mylearning{
    background-color: #000;
    color: #fff;
    height: 150px;
    padding: 70px 240px;
}
.a{
    padding-left: 590px;
}
.footer{
    background-color: #000;
    color: #fff;
}
.english{
    position: relative;
   right: 0;
}
.course{
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 70px;
}